@mixin button {
	width: 170px;
		height: 45px;
		margin: 71px 40px 0 0;
		padding: 16px 30px;
		object-fit: contain;
		border-radius: 5px;
		box-shadow: 0px 2px 3px 0 rgba(6, 7, 7, 0.35);
		background-color: #fff;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
		letter-spacing: 0.4px;
		text-align: center;
		color: #be1e2d;
		text-transform: uppercase;
	
}
